<div class="container-fluid">

<div>
    <div class="mainbody" style="height: 100vh; width: 100vw; background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    background-image: url(https://raw.githubusercontent.com/karanjadhav/karanjadhav.github.io/master/digibar.jpg);">
        
        <div style="color: whitesmoke; font-size: 7em; text-align: center;
        font-weight: 900; padding-top: 23vh;
         font-family: 'Times New Roman', Times, serif;">
            Digital Barter
        </div>
        
            <input type="image" src="https://raw.githubusercontent.com/karanjadhav/karanjadhav.github.io/master/homebuk.png"
                alt="book" (click)="goToUserLogin();" style="height:20vh;
                position: fixed; top: 52%; left: 43%;" />
                
    </div>
</div>
</div>