<div>
    <div class="mainbody" style="height: 100vh; width: 100vw; background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(https://raw.githubusercontent.com/karanjadhav/karanjadhav.github.io/master/digibar.jpg);">



<div class=" row  justify-content-between align-items-center sticky-top" style="height: 60px;background-color: rgb(153, 91, 10);">
  <div class="col-10 d-flex text-light pr-2">
    <h3 class="pl-2" style="font-size: 24px; font-weight: bold; ">Digital Barter</h3>
  </div>
  <div class="col-2 ">
    <button class="btn btn-outline-light btn-sm ml-3" (click)="goToUserLogin()">Login</button>
    <button class="btn btn-outline-light btn-sm ml-3" (click)="goToRegister()">Register</button>
  </div>

</div>
<div class="container">
    <div class="col-md-6 offset-md-3 text-dark" style="background-color: lightgrey; margin-top: 10vh; padding: 5vh;">
        <h3 > Change Password </h3>
        <form (ngSubmit) = "onSubmit(user.userName)" #userForm="ngForm">
        
            <div class="form-group col-md-6" 
            [class.has-error]="uname.invalid && uname.touched"
            [class.has-success]="uname.valid">
                <label for="fname" class="control-label">User Name</label>
                <input type="text" [(ngModel)]="user.userName" name="custFname" id="custFname" 
                class="form-control " placeholder="Enter User Name" 
                 #uname="ngModel" required
                 pattern="^[a-zA-Z]+(?:[\s][a-zA-Z]+)*$">
                <span class="help-block text-danger" *ngIf="uname.hasError('required') && uname.touched">
                  User Name is required
                </span>
                <span class="help-block text-danger" *ngIf="uname.hasError('pattern') && uname.touched">
                  Not a avlid User Name 
                </span>
            </div>
        
            <div class="form-group col-md-6" 
            [class.has-error]="upassword.touched && upassword.invalid"
            [class.has-success]="upassword.valid">
                <label for="password" class="control-label">Password</label>
                <input type="password" [(ngModel)]="user.password" name="custPassword"
                 id="custPassword" class="form-control" placeholder="Enter Password" 
                 #upassword="ngModel" required minlength=3 maxlength=8>
                 <span class="help-block text-danger" 
                 *ngIf="upassword.errors?.required && upassword.touched">
                  password is required
                </span>
                <span class="help-block text-danger" 
                 *ngIf="upassword.hasError('minlength')">
                  password is too short
                </span>
                <span class="help-block text-danger" 
                 *ngIf="upassword.hasError('maxlength')">
                  password is too large
                </span>
             </div>
            
            <div class="form-group col-md-6">
                <label>Confirm Password</label>
                <input type="password" class ="form-control" id = "password"
                    [(ngModel)] = "user.password" name = "password" formControlName="password"
                    placeholder="Confirm Password">
            </div>
            
      
            <button class = "btn btn-outline-success btn-sm mr-2" type ="submit" [disabled]="userForm.invalid">Submit</button>
            <a class="btn btn-outline-info btn-sm" (click)="goToUserLogin()">Back To Login</a>
            <div class="alert alert-danger" role="alert" *ngIf="uiInvalidCredential">
                Password does not match!....
              </div>
            
        </form>
    </div>
 </div>
    </div>
</div>


