<div>
    <div class="mainbody" style="height: 100vh; width: 100vw; background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    background-image: url(https://raw.githubusercontent.com/karanjadhav/karanjadhav.github.io/master/digibar.jpg);">
        
        
        <div style="color: greenyellow; font-size: 5em; text-align: center;
        font-weight: 900; padding-top: 23vh;
         font-family: Arial, Helvetica, sans-serif">
            Successful!
        </div>

        <p style="text-align: center; color: white; font-size: x-large;"> Please click on book below to go back to home</p>
        
            <input type="image" src="https://raw.githubusercontent.com/karanjadhav/karanjadhav.github.io/master/homebuk.png"
                alt="book" (click)="goToHome();" style="height:20vh;
                position: fixed; top: 52%; left: 43%;" />
                
    </div>
</div>