
<div>
  <div class="mainbody" style="height: 100vh; width: 100vw; background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url(https://raw.githubusercontent.com/karanjadhav/karanjadhav.github.io/master/digibar.jpg);">


<div class=" row  justify-content-between align-items-center sticky-top" style="height: 60px;background-color: rgb(153, 91, 10);">
  <div class="col-10 d-flex text-light pr-2">
    <h3 class="pl-2" style="font-size: 24px; font-weight: bold; ">Digital Barter</h3>
  </div>
  <div class="col-2 ">
    <button class="btn btn-outline-light btn-sm ml-3" (click)="goToUserLogin()">Login</button>
    <button class="btn btn-outline-light btn-sm ml-3" (click)="goToRegister()">Register</button>
  </div>

</div>

<div class="container">
<div class="col-md-6 offset-md-3" style="background-color: lightgrey; margin-top: 10vh; padding: 5vh; ">
    <h3> Forget Password </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group col-md-6"
        [class.has-error]="uEmail.invalid && uEmail.touched"
        [class.has-success]="uEmail.valid">
            <label for="Email" class="control-label">Email</label>
             <input type="email" [(ngModel)]="user.emailId" name="custEmail" 
             id="custEmail" class="form-control" placeholder="Enter Email" 
             #uEmail="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
             <span class="help-block text-danger" *ngIf="uEmail.hasError('required') && uEmail.touched">
              Email-Id is required
            </span>
            <span class="help-block text-danger" *ngIf="uEmail.hasError('pattern') && uEmail.touched">
              Not a valid Email
            </span>
        </div>
    
        
        <button class = "btn btn-outline-success btn-sm mr-2" type ="submit">Submit</button>
        <a class="btn btn-outline-info btn-sm mr-2" (click)="goToUserLogin()">Back To Login</a>
    </form>
</div>
</div>
  </div>
</div>
